body {
    padding: 30px 0;
    font-family: monospace;
}

.main-content {
    margin: auto;
    max-width: 960px;
    width: 100%;
}

h1, h4, h5, h6 {
    margin-top: auto;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px dashed #999;
    font-size: 4.0em;
}
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.3em; }

.link {
    position: relative;
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #888;
    border-radius: 5px;
    background: #888;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 2px 2px 2px #555;
    -moz-box-shadow: 2px 2px 2px #555;
    box-shadow: 2px 2px 2px #555;
}

.link:hover {
    border-color: #666;
    background-color: #555;
}

.link:active {
    position: relative;
    top: 2px;

    -webkit-box-shadow: 2px 2px 1px #555;
    -moz-box-shadow: 2px 2px 1px #555;
    box-shadow: 2px 2px 1px #555;
}

p { font-size: 1.2em; }

.details {
    margin: 30px auto;
    padding: 0 0 30px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.wrapper { padding: 20px 20px 30px; }

.wrapper-1 { background-color: #CCC; }

.wrapper-2 {
    display: none;
    background-color: #999;
}

li { font-size: 1.2em; }

.text p,
.text li {
    margin: 0;
    font-style: italic;
}

.note { color: #FFF; }

.pr30 { padding-right: 30px; }
.pl30 { padding-left: 30px; }
.pl60 { padding-left: 60px; }

.mr30 { margin-right: 30px; }
.ml30 { margin-left: 30px; }
.ml60 { margin-left: 60px; }

.underline { text-decoration: underline; }
