/*
 * Using Functions in SASS
 */
h1 {
  color: navy;
  background-color: #EEE; }

#mypara {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: #6b6bc7;
  border-width: 2px;
  border-style: solid;
  padding: 10px; }
