//@import "import_me.scss";

h1, h2 {
    color: red;
    
    //color: $myColor1;
}

#mypara {
    font-size: 12px;
    border: 1px solid red;
    padding: 5px;
    
    //font-size: $myFontSize;
    //border: $thinBorder;
    //padding: $paddingVar;
}

#mypara:after {
    content: " some content";
    //content: $myStringVar
}
