/*
 Using SASS Mixins with arguments
 */

@mixin customBorder ($width, $color, $style) {
    border: {
        width: $width;
        color: $color;
        style: $style;
    }
}

/*@mixin customBorder2 ($width: 1px, $color: black, $style: solid) {
    border: {
        width: $width;
        color: $color;
        style: $style;
    }
}*/

#mypara {
    @include customBorder(3px, blue, dashed);
    //@include customBorder2(3px, red, solid);
}
