/*
 * SASS Operators example
 */

$myColor: #00f;
$basepadding: 10px;
$basethickness: 4px;

#mypara {
    color: $myColor;
    border: $basethickness solid $myColor;
    padding: $basepadding $basepadding;
    
    //border: ($basethickness + 10)/2 solid $myColor;
    //padding: $basepadding $basepadding+20;
}

//$gender: boy;
//$myColor: if($gender=="boy", #00f, #f00);
